{% extends "layout.html" %}

{% block title %}
    Active visits
{% endblock %}

{% block main %}
    <div class="mb-3">
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Doctor</th>
                    <th>Specialisation</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for visit in booked_visits %}
                    <form action="/" method="post" name=booking_details">
                        <tr>
                            <td><input type="hidden" value="{{ visit["date"] }}" name="date">{{ visit["date"] }}</td>
                            <td><input type="hidden" value="{{ visit["doctor"] }}" name="doctor">{{ visit["doctor"] }}</td>
                            <td><input type="hidden" value="{{ visit["specialisation"] }}" name="specialisation">{{ visit["specialisation"] }}</td>
                            <td><input type="hidden" value="{{ visit["status"] }}" name="status">{{ visit["status"] }}</td>
                            <td><button class="btn btn-primary" type="submit">Cancel</button></td>
                        </tr>
                    </form>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}
